.calendar_container{
    margin: 25px 10% 0 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.calendar {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1.5fr) repeat(7, minmax(0, 1fr));
    grid-template-areas:
        ". yearmonth yearmonth yearmonth yearmonth yearmonth ."
        "day_name day_name day_name day_name day_name day_name day_name"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day";
    justify-items: center;
    align-items: center;
    overflow: hidden;

    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.calendar_time_map_root {
    width: 50%;
    margin: 15px;
    
    transform: scaleY(1);
    transform-origin: 50% 0%;
    transition: 0.5s;
}

.calendar_time_map_root:empty{
    width: 0;
    transform: scaleY(0);
    transition: 0.5s;
}

.calendar_yearmonth {
    grid-area: yearmonth;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    background-color: rgb(255, 255, 255);
}

.calendar_yearmonth h1, .calendar_yearmonth h2 {
    margin: 0;
}

.calendar_yearmonth h2 {
    opacity: 25%;
}

.calendar_day_name {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 50%;
}

.calendar_day {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    cursor: pointer;

    transition: 0.25s;
}

.calendar_day h4 {
    margin: 0;
    margin-top: 15px;
}

.calendar_day:hover {
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}

.calendar_day:active {
    box-shadow: inset 0 1px 1px 1.6px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}

.calendar_current_day {
    z-index: 1;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.25s;
}

.calendar_weekend {
    color: red;
}

.calendar_empty_day {
    background-color: rgba(0, 0, 0, 0.05);
}

.calendar_arrow {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    
    transition: box-shadow 0.5s;

    cursor: pointer;
    user-select: none;
}

.calendar_arrow h2 {
    margin: 0;
}

.calendar_arrow:hover {
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.calendar_arrow:active {
    box-shadow: inset 0 1px 1px 1.6px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.calendar_event_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*flex-wrap: wrap;*/

    transition: 0.5s;

    width: 100%;
}

.calendar_event {
    width: 15px;
    height: 15px;

    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;

    background-color: var(--backgroundColor);
    border-radius: 50%;

    font-size: 0.75em;
    color: var(--color);

    transition: 0.5s;
}

.calendar_event_name {
    white-space: nowrap;
    margin: 5px;
    visibility: hidden;
}

.calendar_event_organizer {
    white-space: nowrap;
    margin: 2px;
    visibility: hidden;
}

.calendar_event_organizer::before {
    content: " by ";
    font-size: 0.8em;
}

.calendar_day:hover .calendar_event {
    width: 90%;

    border-radius: 10px;

    margin-bottom: 2px;
    
    overflow: hidden;
    text-overflow: ellipsis;

    transition: 0.5s;
}

.calendar_day:hover .calendar_event_name {
    visibility: visible;
}

.calendar_day:hover .calendar_event_organizer {
    visibility: visible;
}

@media (min-width: 900px) {
    .calendar_container {
        flex-direction: row;
        align-items: flex-start;
    }
    .calendar{
        width: 70%;
    }
    .calendar_time_map_root{
        width: 30%;
        margin-top: 0;
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }
    .calendar_time_map_root:empty{
        transform: scaleX(0);
        transition: 0.5s;
    }
}