
.calendar_time_map {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: minmax(0, 0.3fr) minmax(0, 2fr);
    grid-template-rows: minmax(0, 1.5fr) repeat(24, minmax(0, 1fr));
    grid-template-areas:
        "monthday monthday"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content"
        "hour content";
    justify-items: center;
    align-items: center;

    text-align: center;
    font-family: 'Roboto', sans-serif;

    overflow: hidden;
}

.calendat_time_map_title {
    width: 100%;
    height: 100%;

    grid-area: monthday;
    border-bottom: solid 1px black;

    position: relative;
}

.calendat_time_map_hours {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--backgroundColor);
}

.calendat_time_map_hours h5 {
    margin: 0;
}

.calendat_time_map_slot {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: var(--backgroundColor);
}

.calendat_time_map_event {
    background-color: var(--backgroundColor);
    position: absolute;
    width: 100%;
    max-height: var(--height);
    min-height: var(--height);
    top: var(--top);

    border-radius: 5px;
    
    font-size: 1rem;
    color: var(--color);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.85em;

    z-index: 1;
    transition: max-height 0.5s;
}

.calendat_time_map_event:hover {
    height: auto;
    max-height: 500px;
    transition: max-height 0.75s;
}

.calendat_time_map_event h5 {
    margin: 0;
    margin-top: 5px;
    font-size: 1em;
}

.calendat_time_map_event h6 {
    margin: 0;
    font-size: 0.7em;
}

.calendat_time_map_event span {
    margin: 0;
    font-size: 0.8em;
    
}

.calendat_time_map_event h6::before {
    content: "by ";
}

.calendat_time_map_exit {
    position: absolute;
    right: 10px;
    top: 5px;

    width: 1.3rem;
    height: 1.3rem;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    
    transition: 0.5s;

    cursor: pointer;
    user-select: none;
}

.calendat_time_map_exit:hover {
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.calendat_time_map_exit:active {
    box-shadow: inset 0 1px 1px 1.6px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}