.zadatci {
	box-shadow: 0 0 5px #0003; 
	font-size: 2em;
	font-weight: 300;
	display:inline-block;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	overflow: hidden;
	text-align: center;
	margin-top: 9px;
}

.taskLink {
	background-color: rgb(191, 213, 240);
	color: rgb(43, 121, 199);
	text-align: center;
	text-decoration: solid;
	font-weight: normal;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	transition: all .5s;
	display: inline-block;
	width: 50px;
	height:50px;
	line-height: 55px;
	border:solid;
	border-width: 1px;
	border-color: rgb(160, 195, 204);
	border-top: solid;
}

.zadatci > .taskLink:hover {
	background: #2a74b97e;
	color: rgb(255, 255, 255);
}

.competitionInfo{
	border: 2px solid #595d88;
	border-radius: 5px;
	background-color: rgba(212, 211, 211, 0.198);
	padding: 10px;
	margin-bottom: 40px;
	margin-top: 30px;
	display: inline-block;
	min-width: 300px;
}

.trophyContainer{
	margin-top: 5px;
	margin-bottom: 25px;
}

.trophyImage{
	object-fit: cover;
	border-radius: 2px;
	border:solid;
	border-width:1px;
	border-color: rgb(138, 197, 191);
	width: 80px;
    height: 80px;
}

.competitionTitle{
	margin-top: 50px;
}

.competitionHeader{
	margin-top: 68px;
	align-items: center;
	position:relative;
}

.uploadImageContainer>input {
	display: none;
}

.uploadImage:hover{
	cursor: pointer;
}

.uploadImage{
	height: 50px;
	width: 50px;
	background-size: cover;
}

.uploadButton{
	background-color: #8ec760;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.uploadButton:active {
    top: 1px; 
    position: relative;
    transform: translateY(4px);
  }

.upload{
	display: flex;
	align-items: center;
	justify-content: center;
}

.taskUploadForm{
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}


.uploadImageContainer{
	margin-bottom: 15px;
	margin-right: 12px;
}

.virtualCompetitionButton{
    background-color: rgb(30, 144, 255);
    border: solid;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
	margin-top: 25px;
  }

.submitResultsButton{
	background-color: #698ae6;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
	float: right;
	margin-top: 33px;
	margin-right: 40px;
}

.taskAndButtonContainer{
	align-items: center;
	position:relative;
}

.submitResultsButtonContainer{
	width: 100%;
	height: 20px;
}

.taskContainer{
	width: 100%;
	margin-top: 105px;
}

.virtualButton{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}

.usersRankingContainer{
	font-size: 17px;
	margin-top: 50px;
}

.taskDetailsContainer{
	margin-top: 50px;
	font-size: 17px;
}

.postExamNavigation{
}

.userResult{
	margin-top: 10px;
	margin-bottom: 10px;
}

.usersRanking{
	border: solid;
	border-color: cadetblue;
	width: 300px;
	display: inline-block;
	margin-top: 20px;
	background-color: rgb(216, 240, 241);
}

.brojBodova{
	margin-top: 20px;
}

.vrijemeIzvodjenja{
	margin-top: 20px;
}

.bestScore{
	color: crimson;
}

.bestTime{
	color: crimson;
}

.notAllowed{
	color: crimson;
	margin-top: 20px;
}

.downloadBestResultButton{
	background-color: #698ae6;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
	margin-top: 33px;
	margin-right: 40px;
}

.noAvailableResults{
	margin-top: 50px;
	font-size: x-large;
}