.footer {
    width: 100%;

    background-color: rgb(30, 144, 255);
    text-align: center;
    font-size: medium;
    position: relative;
    left: 0;
    bottom: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-gap: 20px;
    direction: rtl;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 20px;
}


h4 {
    display:inline;
    margin-bottom: 5px;
}

.text1 {
    font-size: medium;
}

.text1:hover {
    color:white;
}