
.header {
    width: 100%;

    background-color: rgb(30, 144, 255);
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 5px 0 0 5px;
    
    text-decoration: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo_image {
    width: 80px;
    height: 80px;

    display: inline-block;
}

.logo_text {
    color: white;
    font-size: xx-large;
    display: inline-block;
    
    margin-bottom: 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.nav_item {
    width: 7.5rem;

    padding: 10px;
    
    text-decoration: none;
    font-size: large;
    color: white;

    display: inline-block;
    position: relative;
}

.nav_item li {
    list-style: none;
}

.nav_item:hover {
    background-color: rgb(6, 130, 255);
}

.nav_user {
    position: relative;
}

.nav_user_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.nav_user_image {
    height: 1.75rem;

    margin-left: 5px;
}

.nav_user_menu {
    width: 100%;
    
    background-color: rgb(6, 130, 255);

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 0;
    top: 100%;
}

.nav_user_menu_item {
    width: 100%;

    padding: 10px 0 10px 0;

    text-decoration: none;
    font-size: medium;
    color: white;

    display: inline-block;
}

.nav_user:hover .nav_user_menu{
    display: flex;
}

.nav_user:hover {
    background-color: rgb(6, 130, 255);
}

.nav_user_menu_item:hover {
    background-color: rgb(0, 98, 255);
}