.prijava {
    background-color: rgb(30, 144, 255);
    box-sizing: border-box;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
}

.reset{
    background-color: rgb(196, 196, 196);
}

.register {
    color: rgb(30, 144, 255);
}