.container-competition {
    margin: auto;
    margin-top: 2%;
    width: 60%;
    padding: 16px;
    border: 1px solid rgb(30, 144, 255);
    border-radius: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-item {
    width: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.container-competition h2 {
    color: rgb(30, 144, 255);

}

#competitionName, #description {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    background: whitesmoke;
    border: none;
    padding: 10px;
    margin: 5px auto 5px auto;
    resize: vertical;

}

input[type=number] {
    width: 60px;
    height: 25px;
    background: whitesmoke;
    border: none;
}

.submit-btn {
    background-color: rgb(30, 144, 255);
    box-sizing: border-box;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
}

.left-align {
    margin: auto;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.virtualInput{
    display: flex;
    margin-bottom: 20px;
}

.virtualInputLabel{
    margin-right: 20px;
}

.durationInput:invalid{
    border: "red solid 2px"
}
