.container-task {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 45%;
    padding: 16px;
    border: 1px solid rgb(30, 144, 255);
    border-radius: 1rem;
}

.container-task h2 {
    color: rgb(30, 144, 255);

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

#nameTask, #textTask, #in, #out {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    background: whitesmoke;
    border: none;
    padding: 10px;
    margin: 5px auto 5px auto ;
}

textarea {
    resize: vertical;
}

input[number] {
    width: 70px;
    height: 25px;
    background: whitesmoke;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-item {
    margin: 5px 20px 5px 0px;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.submit-btn {
    background-color: rgb(30, 144, 255);
    box-sizing: border-box;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
}

.left {
    margin: auto;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%;
    padding-bottom: 5px;
    padding-top: 5px;
}
