.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-color: rgb(115, 164, 204);
    border-style: solid;
    border-width: 7px;
    background-color: rgb(246, 242, 242);
    border-radius: 15px;
    box-shadow: 4px 4px 4px #474646;
}

.ProfileText {
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.roleUser {
    color: white;
    background-color: rgb(115, 164, 204);
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    width: 88%;
    height: 28px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.roleAdmin {
    color: rgb(255, 255, 255);
    background-color: #8ec760;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    width: 88%;
    height: 28px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.userName{
    font-family: Arial, Helvetica, sans-serif;
}

button:hover, a:hover {
    opacity: 0.7;
}

.profilePic{
    width: 400px;
    height: 266px;
    margin-top: 7%;
    margin-bottom: px;
    object-fit: cover;
    border-radius: 10px;
}

.cardContainer {
    padding-top: 20px;
}

.CompetitorContainer{
    justify-items: center;
    /*background-color: rgba(30, 143, 255, 0.226);*/
}

.CompetitorText{
    font-size: 2em;
}

.tasksContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5em;
}

.taskItem{
    text-align: left;
    padding: 0.5em;
    margin-block: 0.5em;
    border: solid 1px rgb(30, 144, 255); 
    border-radius: 1em;
}

.voditeljContainer{
    text-align: center;
}
