
.container {
    margin: auto;
    margin-top: 2%;
    width: 30%;
    padding: 16px;
    border: 1px solid rgb(30, 144, 255);
    border-radius: 1rem;
}

.container h2 {
    color: rgb(30, 144, 255);

}

input[type=text],
input[type=password],
input[type=email ] {
    width: 80%;
    padding: 10px;
    margin: 5px auto 5px auto;
    background: whitesmoke;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    border-color: rgb(30, 144, 255);
    border-width: 1px;
    border-style: solid;
    text-align: left;
    margin: auto;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.upload {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 80%;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.register-btn {
    background-color: rgb(30, 144, 255);
    box-sizing: border-box;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
}


