
  .title{
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .requestsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }

  .request {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(246, 242, 242);
    margin-top: 30px;
    border-radius: 4px;
    border-color: rgb(84, 129, 167);
    border-style: solid;
    width: 755px;
  }

  .imageInfoContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;  
    margin-top: 37px;
    margin-bottom: 25px;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
  }

  .userImage{
      border: solid rgb(151, 151, 151);
      border-width: 2px;
      border-radius: 10px;
      height: 160px;
      width: 160px;
      margin-left: 50px;
      object-fit: cover;
  }

  .listItem{
      margin-top: 20px;
      line-height: 1.5;
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: larger;
  }

  .scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
      
  .scaled-image-fixed {
    display: inline;
    width: 12px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 3px;
  }

  .acceptButton{
    background-color: #8ec760;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .acceptButton:active {
    top: 1px; 
    position: relative;
    transform: translateY(4px);
  }

  .acceptButton:disabled {
    background-color: rgb(160, 158, 158);
  }

  .grayColoured{
    background-color: gray;
  }




