#searchInput {
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 17px;
  padding: 15px;
  height: 5px;
  width: 190px;
}

.searchBar{
  float:right;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.result {
  background-color: rgb(246, 242, 242);
  width: 90%;
  height: 40px;
  margin-bottom: 3px;
  border-radius: 4px;
  border-color: rgb(84, 129, 167);
  border-style: solid;
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;  
}

.imageContainer{
  width: 44px; 
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.search_image{
  border-radius: 50%;
  width:  35px;
  height: 35px;
  object-fit: cover;
}

.result:hover{
  background-color: rgb(148, 157, 167);
}
    
.link-spanner{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
} 

.scaled-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
    
.scaled-image-fixed {
  display: inline;
  width: 12px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 3px;
}
