.uploadImageContainer>input {
    display: none;
}

.uploadImage:hover{
    cursor: pointer;
}

.uploadImage{
    height: 50px;
    width: 50px;
    background-size: cover;
}

.uploadButton{
    background-color: #8ec760;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.uploadButton:active {
    top: 1px;
    position: relative;
    transform: translateY(4px);
}

.upload{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskUploadForm{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}


.uploadImageContainer{
    margin-bottom: 15px;
    margin-right: 12px;
}