.timerContainer{
    display: inline-flex;
    flex-wrap: nowrap;
    border-style: solid;
    border-color: rgb(223, 223, 233);
    border-radius: 12px;
    border-width: thin;
    position:absolute;
    right:30px; 
    top:0px;
}

.timerCount {
    background-color: #f1f1f1;
    border-radius: 7px;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
  }

  .timerInterval{
      font-size: 18px;
  }

