.UsersContainer{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.UserPart{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-block: 0.2em;
    padding-block: 0.2em;
    border: 1px solid rgb(30, 144, 255);
    border-radius: 1em;
    height: 15vmin;
}

.UserPhoto{
    max-width: 10%;
    height: auto;
    max-height: 80%;
    margin: 0.5em;
    border-radius: 1em;
}

.UserData{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.button{
    background-color: rgba(30, 143, 255, 0.534);
}

.buttons{
    display: flex;
    flex-direction: column; 
}
